body {
  margin: 0;
  background-color: #dddddd;
  font-family: sans-serif;
}

.wrapper {
  background-color: white;

  padding: 15px;
  width: 800px;
  margin: 25px auto;

  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  
}
