body {
  margin: 0;
  background-color: #dddddd;
  font-family: sans-serif;
}

.wrapper {
  background-color: white;

  padding: 15px;
  width: 800px;
  margin: 25px auto;

  text-align: center;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title {
  font-size: 150%;
  font-weight: bold;
}
table {
  margin-top: 25px;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 5px;
}

td:first-child {
  font-weight: bold;
}

tr:not(:last-child){
  border-bottom: 1px solid #dddddd;
}
